body{
  background-color:antiquewhite ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  font-size: 30px;
  text-align: center;
}

p{
  font-size: 20px;
  font-weight: bold;
}

.buttons{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

#rock,
#paper,
#scissors{
  padding: 10px 15px;
  font-size: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#rock{
  background-color: red;
}

#paper{
  background-color: rgb(30, 30, 225);
}

#scissors{
  background-color: green;
}

#result{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

.value{
  font-size: 16px;
  font-weight: bold;
}

#your-score{
  color: blue;
  margin-right: 10px;
}

#computer-score{
  color: red;
}

#rock:hover,
#paper:hover,
#scissors:hover{
  opacity: 0.6;
}
